/* Global Styles */
html {
  font-size: 14px;
}

body {
  font-family: 'open sans' sans-serif;
  background-color: #fff;
  font-size: 1rem;
}

em {
  font-style: italic;
}

nav a {
  font-size: 1.1rem;
  font-weight: 600;
  color: #777;
}

nav a:hover {
  color: #000;
}

.active {
  color: #399bd1;
}

.navbar-default {
  background-color: #fff;
  height: 80px;
}

h1 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 1.4rem;
}

h2 {
  font-weight: 600;
  font-size: 1.7rem;
  color: #399bd1;
  margin-bottom: 20px;
  padding-left: 15px;
}

h3 {
  font-size: 1.3rem;
  font-weight: 600;
  color: #000;
}

#product-categories {
  color: #399bd1;
}

@media only screen and (max-width: 575px) {
  .navbar-brand {
    display: none;
  }
}

/* Jumbotron */

.jumbotron {
  padding: 11.85rem 0;
  text-align: center;
  margin-top: 80px;
}

.jumbotron-container {
  max-width: 51.3rem;
  margin: 0 auto;
}

.jumbotron-bike {
  background-image: url('../images/jumbotron-bike.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron-head, .jumbotron p {
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.jumbotron-head {
  font-family: 'Monoton';
  font-size: 7.1rem;
  color: #fff;
}

.jumbotron p {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 2.8rem;
}

.btn-primary {
  background-color: #399bd1;;
  border-color: #399bd1;
  padding: 1.3rem 3.5rem;;
  box-shadow: 0 0 12px rgba(0,0,0,0.5);
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 600;
}

.btn-primary:hover {
  box-shadow: 0 0 12px rgba(0,0,0,0.9);
  background-color: #399bd1;;
  border-color: #399bd1;
}

.btn-primary:active {
  box-shadow: 0 0 12px rgba(0,0,0,0.5);
}

/* Featured Section */
.image-container {
  overflow: hidden;
}

.projects .image-container {
  height: 175px;
}

.featured-project {
  padding-top: 2rem;
}

.image-container {
  height: 19rem;
  overflow: hidden;
  margin-bottom: 2rem;
}

.image-container img {
  width: 100%;
  opacity: .7;
}

.container .featured-project .image-container {
  padding-right: 0;
  padding-left: 0;
}

.categories li {
  line-height: 1.4rem;
  color: rgba(0, 0, 0, 0.7);
}

.projects {
  margin-bottom: 5.85rem;
}

.projects .image-container

/* Learn More */

.learn-more  p {
  padding-bottom: 2rem;
  max-width: 42rem;
  text-align: center;
  margin: 0 auto;
}

footer {
  background-color: #f3f3f3;
  margin: 0 auto;
  padding: 5.2rem 0;
  text-align: center;
}
